.skills_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 108px;
  width: 100%;
}
.skill_item {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #202020;
  border-radius: 20px;
  gap: 15px;
  padding: 50px 20px;
  max-width: 250px;
  max-height: 250px;
}
.skills_content .skill_item > h3 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
}

.skills_content .skill_item > p {
  color: #fff;
  opacity: 75%;
  font-size: 0.875rem;
  font-weight: 400;
}

.skill_item img {
  width: 60px;
  height: 60px;
}

/* Section  Utilities */
.section_container {
  width: 100%;
  background-color: #111;
  padding-top: 110px;
}
.section_content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.section_title {
  width: fit-content;
  font-weight: 600;
  font-size: 2.625rem;
  letter-spacing: 0.15rem;
  border-bottom: 1.5px solid #fff;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 40px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  margin: auto;
}
