.contact_content {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}

.contact_content input {
  padding: 15px;
  border-radius: 15px;
  border: none;
  outline: none;
  background-color: #202020;
  color: #fff;
}
.contact_content textarea:focus,
.contact_content input:focus {
  outline: 1px solid #ffffff50;
}

.contact_content textarea {
  padding: 15px;
  border-radius: 15px;
  border: none;
  background-color: #202020;
  color: #fff;
  resize: none;
}

.contact_content button {
  padding: 15px;
  border-radius: 15px;
  border: none;
  outline: none;
  background-color: black;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 40px;
}

.contact_content button:hover {
  background-color: #202020;
  cursor: pointer;
}
/* Section  Utilities */
.section_container {
  width: 100%;
  background-color: #111;
  padding-top: 110px;
}
.section_content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.section_title {
  width: fit-content;
  font-weight: 600;
  font-size: 2.625rem;
  letter-spacing: 0.15rem;
  border-bottom: 1.5px solid #fff;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 40px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  margin: auto;
}
