.navbar_container {
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: flex-end;
  background: rgb(0, 0, 0, 0.6);
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 20px;
  top: 0;
}

.navbar_container > ul {
  display: flex;
  list-style: none;
}

.navbar_container ul li {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-right: 40px;
  letter-spacing: 0.1rem;
  color: #fff;
  opacity: 50%;
  transition: opacity 0.3s;
}

.navbar_container ul li:hover {
  opacity: 100%;
}

.navbar_container ul li a {
  text-decoration: none;
  color: #fff;
}
