.footer_container {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  padding: 50px;
  color: #ffffff75;
}
.social_itens {
  margin-right: 20px;
}

.social_itens a {
  text-decoration: none;
  color: #ffffff75;
}

.social_itens a:hover {
  color: #ffffff;
}
